# build output
lib/

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
build-storybook.log*

# macOS-specific files
.DS_Store

# lock files
*.lock*
*lock.json