@use '../../assets/styles/fonts';

.ff-multiselect-dropdown-container {
  position: absolute;
  background: var(--drawer-footer-bg);
  z-index: 1000;
  box-shadow: 0px 1px 4px 0px var(--ff-select-option-wrapper-box-shadow);
  border: 0.5px solid var(--ff-select-option-border-color);
  border-radius: 4px;
  box-sizing: border-box;
  margin-block: 4px;
  max-height: 160px;
  cursor: pointer;
  .ff-multiselect-options-wrapper {
    max-height: 128px;
    overflow-y: auto;
    border-radius: 2px;
    overflow-x: hidden;
    &::-webkit-scrollbar {
      width: 4px;
      height: 40px;
      border-radius: 12px 0px 0px 0px;
      background: var(--description-text);

      &-track {
        background: var(--ff-select-scroll-track-bg);
      }

      &-thumb {
        background: var(--ff-select-scroll-thumb-color);
        border-radius: 10px;

        &:hover {
          background: var(--ff-select-scroll-thumb-hover);
        }
      }
    }
  }

  .no-options {
    color: var(--ff-select-text-color);
    text-align: center;
    margin: 0;
    padding: 7px;
    line-height: 12px;
  }
  .dropdown-option-container {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    height: 32px;
    padding: 4px 8px;
    gap: 4px;
    border-radius: 4px 0px 0px 0px;
    background-color: white;

    .dropdown-option-label {
      @extend .fontMd;
      color: var(--ff-select-text-color);
    }
    &:hover {
      background-color: var(--hover-color);
    }
  }

  &:focus {
    outline: none;
  }
  .select-button-container {
    box-sizing: border-box;
    width: 100%;
    border-top: 1px solid var(--slider-table-color);
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.dropdown-option-container.focused {
  background-color: var(--hover-color);
}
.dropdown-option-container.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
.validation-error {
  color: var(--error);
  font-size: 12px;
  padding-left: 10px;
}
