.ff-variable-dropdown {
  display: flex;
  flex-direction: column;
  background-color: var(--variable-dropdown-bg);
  border: 1px solid var(--border-color);
  border-radius: 3px;
  overflow: hidden;
  overflow-y: auto;
  &.absolute {
    position: absolute;
    top: 34px;
  }
  &.relative {
    position: relative;
  }

  /* Virtuoso container styling */
  .virtuoso-scroller {
    overflow-x: hidden !important;
  }
}

.ff-variable-option ,
.ff-variable-option-no-data {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  cursor: pointer;
  height: 40px; /* Fixed height for virtualization */
  box-sizing: border-box;

  &:hover {
    background-color: var(--hover-color);
  }
}

.ff-variable-option-no-data {
  cursor: no-drop;
}

.ff-variable-data {
  padding: 6px;
  height: 32px; /* Fixed height for virtualization */
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  align-items: center;
  &:hover {
    background-color: var(--hover-color);
  }
}

.ff-truncated_text {
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
}