// Rounded corners
.ff_rounded_lg {
  border-radius: 8px;
}

.ff_paper_basic_style {
  padding: 20px;
  background-color: var(--ff-paper-dark-background-color);
}
.ff_paper_default_style {
  padding: 20px;
  background-color: var(--ff-paper-background-color);
}
