@use '../../../assets/styles/fonts';

.ff-line-chart-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ff-line-chart-text {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  .smooth-dot {
    transition: cx 0.2s ease, cy 0.2s ease;
  }
}
.ff-line-chart-yAxisLabel-warpper {
  position: relative;
  min-width: 20px;
  height: 100%;
  .ff-line-chart-yAxisLabel {
    position: absolute;
    right: 0;
    top: 50%;
    display: flex;
    white-space: nowrap;
    transform: rotate(270deg) translateX(60%);
    transform-origin: right center;
  }
}

.ff-line-chart-text1 {
  transform-origin: center;
  transform: rotate(-90deg);
  transition: transform 1s ease-in-out;
  position: relative;
  left: 163px;
  min-width: 10px;
  color: var(--drawer-title-color);
}

.ff-line-chart-tooltip {
  position: absolute;
  background-color: var(--tooltip-bg-color);
  border-radius: 4px;
  pointer-events: none;
  display: flex;
  flex-direction: column;
  min-width: 30px;
  min-height: 30px;
  justify-content: center;
  align-items: flex-start;
  row-gap: 10px;
  padding: 8px !important;
  z-index: 99999999999999;
}

.ff-line-chart-status-dot {
  width: 16px;
  height: 16px;
  border-radius: 100%;
}
.ff-line-chart-inner-tooltip {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  color: var(--arrow-button-bg-color);
  @extend .fontSm;
}

.ff--line-chart-x-line-data {
  @extend .fontSm;
}
.ff-line-chart-y-axis-text {
  @extend .fontSm;
}

.ff-line-chart-date {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  border-bottom: 1px solid var(--arrow-button-bg-color);
  color: var(--arrow-button-bg-color);
  @extend .fontSm;
}
.ff-line-chart-x-axis-label {
  @extend .font-size-8;
  font-weight: 600;
}
