@use '../../assets/styles/fonts';
@use '../../assets/styles/mixins';

.ff-textarea-container {
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 5px;

  @extend .fontSm;

  .msg-character-count {
    @extend .font-size-8;
    display: flex;
    color: var(--text-area-default-color);
    justify-content: flex-end;
    height: 18px;
  }
  .ff-textarea-error-alignment {
    display: flex;
    color: var(--text-area-default-color);
    justify-content: space-between;
    padding-left: 10px;
    height: 18px;
  }
  .ff-textarea-error-text {
    color: var(--ff-error-light);
  }
  .ff-textarea-character-count {
    @include mixins.center-vertical();
  }
  .ff-textarea {
    padding: 8px;
    gap: 0px;
    border: 1px solid var(--default-icon-color);
    border-radius: 4px;
    outline: none;
    @extend .fontSm;
    line-height: 18px;
    font-weight: 400;
    overflow: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;

    ::-webkit-scrollbar {
      display: none;
    }
    &--resize {
      resize: none;
    }

    &:disabled {
      opacity: 0.5;
      cursor: not-allowed;
      &:hover {
        border-color: var(--default-icon-color);
        color: inherit;
      }
    }

    &::placeholder {
      opacity: 0;
    }

    &--danger {
      border-color: var(--ff-error-light);
    }

    &--transparentBackground {
      background: transparent;
    }
  }

  .ff-textarea-label-container {
    @extend .ff-textarea;
    display: flex;
    position: absolute;
    border: none;
    outline: none;
    margin-top: 1px;
    transition: all 0.3s ease-in-out;

    .ff-textarea-label {
      height: 10px;
      width: auto;
      background-color: var(--drawer-footer-bg);
      color: var(--text-area-default-color);
      &--danger {
        color: var(--ff-error-light);
      }
    }

    .required-asterisk {
      color: var(--ff-error-light);
    }
  }

  &:hover {
    .ff-textarea-label {
      color: var(--text-color);
    }
    .ff-textarea {
      border-color: var(--toggle-strip-active);
    }
  }

  &:focus-within {
    .ff-textarea-label-container {
      font-weight: 400;
      line-height: 12px;
      letter-spacing: 0.5px;
      text-align: left;
      top: -6px;
      @extend .font-size-10;
      background-color: transparent;
      padding: 0px 2px;
      margin-left: 7px;
    }

    .ff-textarea-label {
      &--primary {
        color: var(--brand-color);
      }
    }

    .ff-textarea {
      &--primary {
        border-color: var(--brand-color);
      }

      &::placeholder {
        opacity: 1;
        margin-bottom: 1px;
        @extend .font-size-10;
      }
    }
  }

  .ff-textarea-message {
    @extend .font-size-8;
    padding: 0px 4px;
    margin-left: 8px;
    line-height: 12px;
    &--danger {
      color: var(--ff-error-light);
    }
  }

  &--float {
    .ff-textarea-label-container {
      letter-spacing: 0.5px;
      top: -6px;
      @extend .font-size-10;
      background-color: transparent;
      line-height: 12px;
      padding: 0px 2px;
      margin-left: 7px;
    }
  }

  &--disabled {
    &:hover {
      .ff-textarea-label {
        color: var(--text-area-default-color);
      }
      .ff-textarea {
        border-color: var(--default-icon-color);
      }
    }
    cursor: not-allowed;
    .ff-textarea-label-container {
      cursor: not-allowed;
    }
  }
}
