.ff-chip-with-count-container {
  display: flex;
  gap: 4px;
  .ff-chip-label {
    border: 1px solid var(--brand-color);
    border-radius: 12px;
    padding: 4px 8px;
    color: var(--switch-license-header-text-color);
    &:hover {
      background-color: var(--brand-color);
      color: var(--primary-button-text-color);
    }
  }
  .ff-chip-count {
    border: 1px solid var(--brand-color);
    border-radius: 20px;
    padding: 4px 8px;
    background-color: var(--default-chip-count-background-color);
    color: var(--switch-license-header-text-color);
    &:hover {
      background-color: var(--brand-color);
      color: var(--primary-button-text-color);
    }
  }
}
.ff-chip-tooltip {
  .ff-chip-tooltip-label {
    padding: 4px 8px;
  }
}
