.ff-add-variable-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
  position: relative;
  .ff-add-variable-input {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 8px;
    position: relative;
    .ff-password-icon {
      position: absolute;
      right: 50px;
    }
  }
}
.ff-conditional-variable-dropdown {
  padding: 4px;
  width: auto;
  height: 320px;
}
