@mixin fontPoppins($size: 16px) {
  font-family: 'Poppins';
  font-size: $size;
}

.ff-text {
  @include fontPoppins();

  &--regular {
    font-weight: 400;
  }
  &--medium {
    font-weight: 500;
  }
  &--semi-bold {
    font-weight: 600;
  }
  &--bold {
    font-weight: 700;
  }
  .required-asterisk {
    color: var(--input-error-text-color);
    padding-right: 4px;
  }
}
