@use '../../assets/styles/fonts';
.ff-add-variable-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2px;
  position: relative;

  .ff-add-variable-input {
    width: 100%;
    display: flex;
    align-items: flex-start;
    position: relative;
    .ff-variable-input-container {
      padding: 6px 32px 6px 6px;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    .ff-cancel-icon-container {
      position: absolute;
      right: 5px;
      top: 4px;
      position: absolute;
    }
  }
  .variable-helper-inline {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 10px;
    color: var(--brand-color);
    margin-top: 2px;
  }
  .ff-create-variable-container {
    @extend .font-size-10;
    display: flex;
    justify-content: end;
    color: var(--brand-color);
    align-self: flex-end;
    line-height: normal;
    text-align: left;
    position: absolute;
    top: 32px;
    right: 0;
  }
}

.ff-variable-dropdown-container {
  scrollbar-width: thin;
  padding: 4px;
  width: auto;
  background-color: var(--variable-dropdown-bg);
  border: 1px solid var(--border-color);
  border-radius: 3px;
  position: absolute;
  overflow: hidden;
  overflow-y: auto;
  top: 34px;
  max-height: 150px;
  .ff-variable-option {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    cursor: pointer;
    &:hover {
      background-color: var(--hover-color);
    }
    &.no-data {
      cursor: no-drop;
    }
  }
}
