@use '../../assets/styles/_fonts';

@mixin circle($size, $border: none) {
  width: $size;
  height: $size;
  border-radius: 50%;
  @if $border != none {
    border: $border;
  }
}
@mixin transition($properties, $duration: 0.3s) {
  transition: $properties $duration;
}

.ff-radio-wrapper {
  display: flex;
  align-items: center;
  gap: 0.25rem;

  .ff-radio {
    @extend .fontSm;
    position: relative;
    color: var(--text-color);
    display: flex;
    align-items: center;
    cursor: pointer;

    .ff-radio-input {
      display: none;
    }

    .ff-radio-custom {
      box-sizing: border-box;
      @include circle(1rem, 0.0625rem solid var(--radio-button-border));
      position: relative;
      margin-right: 0.5rem;
      display: flex;
      align-items: center;
      transform: translateZ(0);
      justify-content: center;
      @include transition(border-color, background-color);

      &-fill {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 0.75rem;
        height: 0.75rem;
        border-radius: 50%;
        @include transition(background-color);
        will-change: transform;
        backface-visibility: hidden;
      }

      &::after {
        content: '';
        @include circle(1.5rem, 0.25rem solid #f7edff);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 0;
        @include transition(opacity);
      }
    }

    &:hover .ff-radio-custom {
      border: 0.0625rem solid var(--brand-color);

      &-fill {
        background-color: var(--drawer-footer-bg);
      }

      &::after {
        opacity: 1;
        @include transition(opacity);
      }
    }

    .ff-radio-input:checked + .ff-radio-custom {
      border-color: var(--brand-color);

      .ff-radio-custom-fill {
        background: var(--brand-color);
      }
    }

    .ff-radio-input:disabled + .ff-radio-custom {
      border: 0.0625rem solid var(--radio-button-border);
      cursor:not-allowed;

      .ff-radio-custom-fill {
        background: var(--drawer-footer-bg);
      }

      &::after {
        border: 0.25rem solid var(--radio-button-hover);
        opacity: 0;
        @include transition(opacity);
      }
    }

    .ff-radio-input:checked:disabled + .ff-radio-custom {
      border-color: var(--brand-color);
      background-color: var(--drawer-footer-bg);

      .ff-radio-custom-fill {
        background: var(--brand-color);
      }
    }

    &--disabled {
      cursor: default;

      .ff-radio-custom {
        opacity: 0.5;
      }
    }
  }
}
