
.ff-icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ff-icon-click {
  cursor: pointer;
  padding: 5px;
  box-sizing: content-box;
  &:hover {
    border-radius: 50%;
    background-color: var(--drawer-footer-bg);
    box-shadow: 0px 0px 16px var(--toggle-strip-shadow);
    & > svg {
      color: var(--brand-color);
    }
  }
}

.ff-icon-disabled {
  cursor: no-drop;
  & > svg {
    color: var(--toggle-strip-color);
  }
  &:hover {
    box-shadow: none;
    & > svg {
      color: var(--toggle-strip-color);
    }
  }
}
