.media-wrapper {
  width: 100%;
  height: 100%;

  .ff-expand-icons {
    position: absolute;
    display: flex;
    width: 25%;
    height: 30%;
    left: 75%;
    gap: 8px;
    top: 0;
    background: var(--media-preview-corner-gradient);
    z-index: 99;

    .header-icons {
      width: 16px;
      height: 16px;
      background-color: var(--ff-icon-hover-fill-color);
      border-radius: 6px;
      cursor: pointer;
      position: relative;
      left: 218px;
      top: 16px;
    }
  }
  .ff-custom-overlay {
    opacity: 0.5;
  }

  img,
  video {
    border-radius: 8px;
    width: 100%;
    height: 100%;
  }
}
