.media-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;

  .ff-expand-icons {
    position: absolute;
    display: flex;
    width: 25%;
    left: 94%;
    gap: 4px;
    top: 16px;
    z-index: 99;

    .header-icons {
      width: 16px;
      height: 16px;
      background-color: var(--ff-icon-hover-fill-color);
      border-radius: 6px;
      cursor: pointer;
      position: relative;
    }
  }
  .ff-custom-overlay {
    opacity: 0.5;
  }

  img,
  video {
    border-radius: 8px;
    width: auto;
  }

  .ff-video-preview {
    height: 550px;
    width: auto;
  }
}
