@use '../../../assets/styles/fonts';

.ff-radial-chart-container {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  svg {
    vertical-align: middle;
    text {
      @extend .font-size-8;
      font-size: var(--fontSize) !important;
      font-weight: 400;
    }
  }
}
