.ff-fixed-header-steps-table {
  scrollbar-width: none;


  .ff-table-steps {
    width: 100%;

    .steps-inner-thead {
      tr {
        th {
          visibility: hidden;
        }
      }
    }

    .ff-steps-tbody {

      tr:hover,
      tr.hover {
        background-color: var(--hover-color);

        .icon-container {
          opacity: 1;
          transform: translateX(0);
        }

        .ff-table-drag,
        .ff-table-drag-icon,
        .ff-table-checkbox {
          opacity: 1 !important;
        }
      }

      .steps-edit-row {

        &>td {
          padding: 0px;
        }

        &:hover {
          background-color: transparent;
        }

      }

      tr {
        .action-column {
          opacity: 0;
        }

        .icon-container {
          padding-left: 4px;
          opacity: 0;
          display: flex;
          justify-content: flex-end;
          transition: opacity 0.3s ease, transform 0.3s ease;
          transform: translateX(20px);
        }

        .ff-data-checkbox-container {
          display: flex;
          align-items: center;
          overflow: hidden;

          .ff-table-checkbox {
            opacity: 0;
          }

          .ff-table-drag {
            opacity: 0;
            transition: opacity 0.3s ease, transform 0.3s ease;
          }

          .ff-table-drag-icon {
            opacity: 0;
            transition: opacity 0.3s ease, transform 0.3s ease;
          }

          .ff-margin-container {
            display: flex;
            align-items: center;
          }

          &-content {
            display: flex;
            align-items: center;
          }
        }

        td {
          color: var(--table-column-text-color);

          &.clickable-cell {
            cursor: pointer;
          }

        }

        .step-detail-cell {
          padding: 4px;
        }

        .other-detail-cell {
          padding: 7px 8px;
        }
      }
    }
  }

  .steps-border-borderRadius {
    border: 1px solid var(--slider-table-color);
    border-radius: 5px;
    border-collapse: none !important;
  }

  .steps-no-data-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }


  .ff-accordion-arrow {
    margin-left: 4px;
    transition: transform 0.25s ease-in-out;
    cursor: pointer;

    .steps-arrow-svg>svg:hover {
      color: var(--text-color) !important;
    }
  }

  .ff-accordion-arrow.expanded {
    transform: rotate(90deg);
  }
}

.step-result-stats {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 2px;
  margin-left: 4px;
  white-space: nowrap;
  gap: 4px;  
}

.drag-icon {
  cursor: grab !important;

  &:active {
    cursor: grabbing !important;
  }

  &-disabled {
    cursor: default !important;
    opacity: 0;
    ;
  }
}