@use '../../assets/styles/fonts' as *;

.ff-label-edit-text-field {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;

  .display-text-container {
    display: flex;
    align-items: center;
    gap: 5px;

    .edit-button {
      padding: 4px 8px;
      background-color: var(--button-background-color);
      color: var(--button-text-color);
      border: 1px solid var(--button-border-color);
      border-radius: 4px;
      cursor: pointer;
      font-size: 12px;

      &:hover {
        background-color: var(--button-hover-background-color);
      }
    }
  }

  .ff-label-text-field {
    display: flex;
  }
  .ff-label-text-field-with-dropdown,
  .ff-label-text-field-without-dropdown {
    position: relative;
    display: flex;
    align-items: center;
  }
  .ff-label {
    position: absolute;
    top: 0;
    left: 10px;
    transform: translateY(-50%);
    transition: all 0.2s ease;
    color: var(--label-edit-text-label-color);
    background: var(--label-edit-text-background-color);
    padding: 0 4px;
    @extend .font-size-8;
  }
  .ff-textfield-label {
    @extend .ff-label;
    top: 5px;
  }

  .display-text {
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    align-items: center;
  }

  .ff-text-field {
    outline: none;
    width: fit-content;
    @extend .fontSm;
  }
  .ff-text-field-error-border {
    border: 1px solid var(--label-edit-error-text);
  }
  .ff-text-field-border {
    border: 1px solid var(--label-edit-text-label-color);
  }
  .ff-text-field-error-text {
    color: var(--label-edit-error-text);
  }
  .ff-text-field-text {
    color: var(--label-edit-text-label-color);
  }
  .ff-text-field {
    padding: 0 4px;
    border-radius: 4px;
  }

  .ff-icon-container {
    display: flex;
    gap: 8px;
    align-items: center;
    .disabled-confirm-icon {
      cursor: default;
      opacity: 0.5;
    }
    .confirm-icon,
    .cancel-icon {
      cursor: pointer;
    }
  }

  .error-text {
    color: var(--label-edit-error-text);
    margin: 0 0 0 5px;
  }
}
