.ff-body-container {
  background-color: var(--session-control-bg);
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
  border-radius: 8px;
  gap: 16px;

  &__icon-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 4px;
    padding: 4px;
    transition: all 0.2s ease;
    position: relative;

    &:hover {
      background-color: var(--toast-close-icon-wrapper-bg);
    }
  }

  &__icon {
    transition: all 0.2s ease;
  }

  &__modal {
    position: absolute;
    background: var(--base-bg-color);
    border-radius: 4px;
    box-shadow: 0 2px 10px var(--session-control-box-shadow);
    z-index: 10;
    min-width: 200px;
    min-height: 150px;

    .horizontal & {
      top: 100%;
      left: 50%;
      transform: translateX(-90%);
      margin-top: 8px;
    }

    .vertical & {
      left: 100%;
      top: 70%;
      transform: translateY(-17%);
      margin-left: 8px;
    }
  }
}

.ff-body-container.horizontal {
  flex-direction: row;
  min-width: 56px;
  width: fit-content;
  padding: 0 8px 0 8px;
  height: 56px;
  gap: 16px;
}

.ff-body-container.vertical {
  flex-direction: column;
  width: 56px;
  padding: 7.5px 0px 8.5px 0px;
  min-height: 56px;
  height: fit-content;
  gap: 16px;
}
