.ff_variable_input_container {
  .ff_label_container {
    display: flex;
    align-items: center;
    margin-bottom: 4px;

    &.ff_danger_label {
      .ff_input_label {
        color: var(--error);
      }

      .ff_required_asterisk {
        color: var(--error);
      }
    }
  }

  .ff_required_asterisk {
    color: var(--input-error-text-color);
    font-size: 1.1em;
    margin-right: 4px;
  }

  .ff_input_label {
    font-size: 14px;
    font-weight: 500;
    color: var(--text-color);

    &.ff_no_hover {
      color: var(--toggle-disable-icon-color);
    }

    &.ff_disabled_label {
      color: var(--toggle-disable-icon-color);
      cursor: not-allowed;
    }

    &.ff_danger_label {
      color: var(--error);
    }
  }

  .ff_content_editable {
    min-width: 8rem;
    border: 1px solid var(--input-default-border-color);
    padding: 8px;
    min-height: 30px;
    border-radius: 4px;
    font-size: 14px;
    line-height: 20px;
    transition: border-color 0.2s ease;
    position: relative;
    text-align: left;
    display: flex;
    align-items: center;
    overflow: auto;

    .ff_var_red {
      color: var(--status-rejected-text-color);
    }

    .ff_var_def_color {
      color: var(--text-color);
    }

    .ff_var_green {
      color: var(--status-success-text-color);
    }

    &::after {
      content: '*';
      color: var(--input-error-text-color);
      font-size: 1.2em;
      position: absolute;
      top: 2px;
      right: 2px;
      display: none;
    }

    &.ff_required::after {
      display: inline;
    }

    &.ff_required_empty:focus-within,
    &.ff_required_empty:focus {
      border-color: var(--input-error-text-color);
    }

    &:empty::before {
      content: attr(data-placeholder);
      color: var(--ff-search-filed-placeholder-text);
      position: absolute;
      user-select: none;
      pointer-events: none;
      font-size: medium;
    }

    &.ff_disabled {
      pointer-events: none;
      opacity: 0.5;
      background-color: var(--input-default-border-color);
    }

    &.ff_invalid_input {
      border: 1px solid var(--input-error-text-color);
    }
  }

  .ff_suggestions {
    border: 1px solid var(--input-default-border-color);
    margin-top: 4px;
    padding: 4px;
    border-radius: 4px;
    list-style-type: none;
    background-color: var(--ff-select-background-color);
    max-height: 150px;
    overflow-y: auto;
  }

  .ff_suggestion_item {
    padding: 4px;
    cursor: pointer;
    &:hover {
      background-color: var(--ff-select-background-color);
    }
  }
}
