$primary-color: #2563eb;
$primary-hover-color: #235dda;
$background-color: #f2f2f3;
$white-color: #fff;
$border-radius: 5px;
$box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
$checkbox-size: 20px;

.drag-and-drop-list {
  height: max-content;
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.column {
  background-color: $background-color;
  border-radius: $border-radius;
  padding: 15px;
  width: 80%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  gap: 15px;

  .task {
    background-color: $white-color;
    border-radius: $border-radius;
    box-shadow: $box-shadow;
    padding: 4px 8px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    cursor: grab;
    &-title {
      word-break: break-all;
    }
  }
}

.container {
  display: flex;
  justify-content: space-between;
  gap: 10px;

  .input {
    border: 2px solid #ddd;
    border-radius: $border-radius;
    padding: 10px;
    width: 200px;
  }

  .button {
    border: none;
    border-radius: $border-radius;
    padding: 10px 15px;
    background-color: $primary-color;
    color: $white-color;
    cursor: pointer;
    margin-left: 10px;

    &:hover {
      background-color: $primary-hover-color;
    }
  }
}
