@use '../../assets/styles/fonts' as *;

@mixin chip-variant-background($color) {
  background-color: $color;
  color: var(--text-color);
}

.ff-chip-wrapper {
  display: inline-flex;
  margin: 5px;
  justify-content: center;
  align-items: center;

  .ff-default-chip-style {
    display: flex;
    align-items: center;
    justify-content: space-around;
    overflow: hidden;
    white-space: nowrap;
    gap: 5px;
    height: 18px;
    border-radius: 25px;
    padding: 1px 6px;
    line-height: 15px;
    border: none;
    transition: transform 0.4s ease-in-out;
    box-shadow: 1px 1px 3px 0px var(--ff-chips-shadow-color) inset,
      -1px -1px 2px 0px var(--ff-chip-bg) inset,
      1px -1px 2px 0px var(--ff-chips-shadow-color-two) inset,
      -1px -1px 2px 0px var(--ff-chips-blur-color),
      1px 1px 2px 0px var(--ff-chip-bg-two);
    .ff-chip-paragraph {
      line-height: inherit !important;
    }
    &--primary {
      @include chip-variant-background(var(--ff-chips-fill-color));
      color: var(--text-color);
    }

    &--success {
      @include chip-variant-background(var(--ff-success));
    }

    &--error {
      @include chip-variant-background(var(--ff-error-light));
    }
    &--warning {
      @include chip-variant-background(var(--ff-warning));
    }
    &--custom {
      @extend .fontSm;
      background: #610b861a; //TODO: add color code name
      color: #610b86; //TODO: add color code name
      padding: 2px 8px;
      border-radius: 12px;
      cursor: pointer;
      white-space: nowrap;
      box-shadow: none;
      transition: background-color 0.3s ease, color 0.3s ease;
      &:hover {
        background-color: #610b86; //TODO: add color code name
        color: #fdfaff; //TODO: add color code name
      }
    }
    &--public {
      @include chip-variant-background(var(--public-chip-bg-color));
      color: var(--license_header_text_color);
    }

    &--partial-public {
      @include chip-variant-background(var(--partial-public-chip-bg-color));
      color: var(--license_header_text_color);
    }

    &--private {
      @include chip-variant-background(var(--private-chip-bg-color));
      color: var(--license_header_text_color);
    }

    &--disabled {
      @include chip-variant-background(var(--disabled-chip-bg-color));
      color: var(--table-column-text-color);
    }
    &--count {
      @include chip-variant-background(var(--impact-list-chip-bg-color));
      color: var(--ff-chip-text-color);
    }
  }
}
