@use '../../assets/styles/fonts';

.ff-tooltip-container {
  cursor: pointer;
  display: flex;
  align-items: center;
}

.ff-tooltip {
  @extend .fontSm;
  position: fixed;
  width: max-content;
  max-width: 60vw;
  word-wrap: break-word;
  background-color: var(--tooltip-bg-color);
  line-height: 18px;
  color: var(--tooltip-text-color);
  text-align: center;
  border-radius: 5px;
  padding: 4px 8px;
  opacity: 0;
  z-index: 10000;

  &--visible {
    opacity: 1;
    transition: opacity 0.3s;
  }
}
