@use '../../assets/styles/fonts';
@use '../../assets/styles/mixins';

.ff-plus-icon {
  min-width: 71px;
  min-height: 24px;
  border-radius: 12px;
  border-style: none;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  @include mixins.center-content();
  gap: 8px;
  background-color: var(--secondary-icon-color);
  padding: 2px 8px 2px 2px;
  border: 1px solid transparent;
  .ff-icon-color {
    path {
      color: var(--primary-icon-color);
    }
  }
  .icon-name {
    min-width: 33px;
    color: var(--primary-icon-color);
    @include mixins.center-content();
  }
  &:hover {
    border: 1px solid var(--secondary-icon-color);
    background-color: var(--hover-color);
    .icon-name {
      min-width: 33px;
      min-height: 20px;
      font-weight: 600;
      color: var(--secondary-icon-color);
      @include mixins.center-content();
    }
    .ff-icon-color {
      path {
        color: var(--secondary-icon-color);
      }
    }
  }
}
