.ff-progress-bar-container {
  display: flex;
  align-items: center;
  gap: 4px;

  &.ff-has-label {
    justify-content: space-between;
  }

  &:not(.ff-has-label) {
    .ff-progress-bar-track {
      flex: 1;
    }
  }

  .ff-progress-bar-track {
    flex: 0 0 calc((68 / 98) * (100% - 4px));
    background-color: var(--ff-progress-bar-bg-color);
    border-radius: 5px;
    overflow: hidden;
    position: relative;

    .ff-progress-bar {
      border-radius: 5px;
      transition: width 0.3s ease;
    }

    .ff-progress-bar-percentage {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
  .ff-progress-bar-label {
    flex: 0 0 calc((30 / 98) * (100% - 4px));
    font-size: 14px;
    color: var(--ff-card-status-text-color);
    white-space: nowrap;
    overflow: hidden;
  }
}
