$brand-color : #71347b;
$text-color : #200624;
$icons-default-color : #71347b;
$border-color : #f0e7f4;
$disable-color : #71347b80;
$hover-color :  #f7ebff;
$pop-up-background-blur : #14041c;
$drawer-footer-bg : #ffffff;
$slider-table-color: #efe1f9;
$tooltip-bg-color:#1e161f;
$tooltip-text-color:#ffffff;
$toggle-strip-color: #cfd1e2;
$toggle-cross-color: #aeb0c0;
$toggle-strip-shadow: #00000040;
$shadow-strip-enable-shadow: #141a60;
$text-bg-highlight:#f5fb00;
$toast-msg-icon-bg: linear-gradient(180deg, #079455 0%, #00693a 100%);
$drawer-footer-border: #f0e7f4;
$primary-button-color: linear-gradient(180deg, #46164d 0%, #71347b 100%);
$primary-button-hover: linear-gradient(180deg, #8d3b9a 0%, #781f86 100%);
$primary-button-disable: linear-gradient(180deg, rgba(70, 22, 77, 0.5) 0%, rgba(113, 52, 123, 0.5) 100%);
$primary-button-text-color: #ffffff;
$secondary-button-color: linear-gradient(180deg, #46164d 0%, #71347b 100%);