$blue-theme: (
  base-bg-color: #ffffff,
  button-bg-color: #f6ebff,
  brand-color: #434db8,
  text-color: #3c3838,
  description-text: #7a7a7a,
  click-able-text-color: #434db8,
  custom-table-header-bg-color: #efe1f9,
  icons-default-color: #434db8,
  border-color: #c2d2fb,
  session-control-bg: #220535,
  session-control-box-shadow: #00000026,
  disable-color: #434db880,
  hover-color: #c2d2fb,
  pop-up-background-blur: #14041c1a,
  slider-table-color: #e9ebfb,
  drawer-footer-bg: #ffffff,
  drawer-footer-border: #c2d2fb,
  text-bg-highlight: #f5fb00,
  tooltip-bg-color: #1e161f,
  tooltip-text-color: #ffffff,
  toggle-strip-color: #cfd1e2,
  toggle-strip-active: #434db8,
  toggle-strip-shadow: #00000040,
  toggle-button-bg-color: #ffffff,
  toggle-disable-icon-color: #767994,
  text-area-default-color: #747474,
  add-icon-hover-color: #431b4a,
  arrow-button-bg-color: #ffffff,
  arrows-button-border-color: #ded1e5,
  success-button-bg: #e6f7eb,
  overlay-bg: #1e161f1a,
  chip-fill-color: #f9d5ff,
  chip-text-color: #1e161f,
  icon-color: #434db8,
  default-icon-color: #a3a3a3,
  tree-connecting-lines-color: #434db8,
  primary-button-color:
    linear-gradient(188.79deg, #434db8 2.94%, #434db8 93.09%),
  primary-button-hover:
    linear-gradient(179.06deg, #434db8 3.49%, #434db8 99.22%),
  primary-button-disable: linear-gradient(180deg, #46164d 0%, #434db8 100%),
  primary-button-text-color: #ffffff,
  primary-button-border: linear-gradient(180deg, #434db8 3.04%, #434db8 100%),
  secondary-button-color-text: #6f7070,
  secondary-button-border: #6f7070,
  secondary-button-text-color: #46164d,
  secondary-button-hover:
    linear-gradient(179.06deg, #434db80d 3.49%, #46164d0d 99.22%),
  tertiary-button-color:
    linear-gradient(179.06deg, #434db80d 3.49%, #46164d0d 99.22%),
  tertiary-button-hover:
    linear-gradient(179.06deg, #434db81a 3.49%, #46164d1a 99.22%),
  delete-button-color: linear-gradient(179.06deg, #e42525 3.49%, #c90000 99.22%),
  delete-button-border: linear-gradient(180deg, #a90707 3.04%, #e42525 100%),
  delete-button-hover: linear-gradient(179.06deg, #e95151 3.49%, #d43434 99.22%),
  delete-button-disable:
    linear-gradient(179.06deg, #e95151 3.49%, #d43434 99.22%),
  warning-button-color:
    linear-gradient(179.06deg, #ffc600 3.49%, #ffc600 99.22%),
  warning-button-border: linear-gradient(180deg, #eeba08 3.04%, #f1bc04 100%),
  error: #c50303,
  drawer-title-color: #1e161f,
  toast-msg-icon-bg: linear-gradient(180deg, #079455 0%, #00693a 100%),
  error_light: #c50303,
  ff-success: #079455,
  ff-warning: #f79009,
  ff-header-text-color: #fdfaff,
  ff-header-submenu-text-color: #666468,
  ff-header-submenu-highlight-text-color: #170328,
  expandable-menu-default-bg: #fdfaff,
  expandable-menu-option-bg: #610b861a,
  file-dropzone-default-color: #434db81a,
  file-dropzone-selected-color: #434db833,
  file-details-container-shadow: #1e161f29,
  file-details-bg: #ffffff,
  ff-mini-modal-border: #ffffff,
  ff-mini-modal-box-shadow: #3713553d,
  ff-mini-modal-arrow-shadow: #00000040,

  ff-comment-input-border-color: #434db8,
  ff-comment-avatar-text-color: #ffffff,
  ff-comment-border-color: #d9d9d9,
  ff-comment-text-color: #727272,
  ff-bg-pearl-gray-color: #e0dfdf,
  ff-bg-lavender-light-color: #fbddff,

  ff-error-light: #c50303,
  ff-chips-fill-color: #434db8,
  ff-chips-blur-color: #5757571a,
  ff-chip-bg: #ffffffe5,
  ff-chip-bg-two: #ffffff33,
  ff-chip-text-color: #ffffff,
  ff-mini-modal-footer-background: #aeb0c0,
  input-default-border-color: #a3a3a3,
  input-hover-border-color: #1e161f,
  input-default-label-color: #747474,
  input-label-bg-color: #ffffff,
  input-active-text-color: #434db8,
  input-error-text-color: #c50303,
  tabs-label-default-color: #7a7a7a,
  tabs-label-active-color: #434db8,
  tabs-border-color: #c2d2fb,
  tabs-bg-color: #ede6f2,
  tab-bg-color: #ffffff,
  toast-close-icon-wrapper-bg: #fafafa,
  toaster-boxshadow: #1e161f3d,
  toaster-success-border: linear-gradient(#07945566, #00693a66),
  toaster-warning-border: linear-gradient(#f7900966, #d67a0066),
  toaster-info-border: linear-gradient(#2591e466, #1769b066),
  toaster-danger_confirm-border: linear-gradient(#e4252566, #c9000066),
  option-card-border-color: #ded1e5,
  option-card-bg-color: #ffffff,
  checkbox-bg-color: #fbfdff,
  checkbox-border-color: #b5b5b5,
  checkbox-partial-color: #ffffff,
  checkbox-hover-color: #f7edff,
  checkbox-hover-box-shadow-color: #c6bccc,
  multi-select-border: #a3a3a380,
  multi-select-label-bg: #ffffff,
  text-color-light: #1e161f80,
  radio-button-border: #b5b5b5,
  radio-button-hover: #d3d3d3,
  menu-variant-dark-icon-color: #ffffff,
  menu-option-icon-color: #ffffff,
  menu-option-icon-clicked: #434db8,
  delete-text-color: #c50303,
  confirm-tick-icon-color: #5ca700,
  warning-modal-border-color: #e79b0866,
  web-service-nlp-label: #241ae4,
  brand-color-border:
    linear-gradient(
      94.23deg,
      rgba(113, 52, 123, 0.4) 16.33%,
      rgba(70, 22, 77, 0.4) 80.07%
    ),
  alert-modal-background-color:
    linear-gradient(
      94.23deg,
      rgba(228, 37, 37, 0.4) 16.33%,
      rgba(201, 0, 0, 0.4) 80.07%
    ),
  status-success-bg-color: #c6efcd,
  status-success-text-color: #016102,
  status-warning-bg-color: #ffe380,
  status-warning-text-color: #ff8b00,
  status-rejected-bg-color: #f7d9d9,
  status-rejected-text-color: #c60202,
  status-skipped-bg-color: #c4c3c3,
  status-skipped-text-color: #3c3838,
  status-warning-hover-bg-color: #fcd8ac,
  status-percentage-growth-bg-color: #ecedf8,
  status-button-bg-passed: #c6efcd,
  status-button-bg-failed: #f7d9d9,
  status-button-bg-running: #ecedf8,
  status-button-bg-skipped: #c4c3c3,
  status-button-bg-warning: #fcce46,
  status-button-bg-terminated: #f7d9d9,
  status-button-bg-partiallyExecuted: #dee7f1,
  status-button-bg-aborted: #f7d9d9,
  status-button-bg-notExecuted: #c4c3c3,
  status-button-bg-default: #f5f5f5,
  status-button-text-passed: #016102,
  status-button-text-failed: #c50303,
  status-button-text-running: #434db8,
  status-button-text-skipped: #3c3838,
  status-button-text-warning: #ffffff,
  status-button-text-terminated: #c50303,
  status-button-text-partiallyExecuted: #0d69d4,
  status-button-text-aborted: #c50303,
  status-button-text-notExecuted: #3c3838,
  status-button-text-default: #757575,
  // TODO:: Need to change the color code values of below 7 color (N/A in DS)
  ff-select-option-border-color: #c2d2fb,
  ff-select-option-wrapper-box-shadow: #592f7c33,
  ff-select-background-color: #ffffff,
  ff-select-scroll-thumb-color: #d9d9d9,
  ff-select-scroll-track-bg: #f1f1f1,
  ff-select-scroll-thumb-hover: #b8b8b8,
  ff-select-text-color: #808080,
  ff-select-option-hover-color: #c2d2fb,
  ff-select-default-color: #747474,
  ff-select-border-color: #a3a3a3,
  ff-select-brand-color: #434db8,
  ff-select-text-hover-color: #1e161f,
  ff-search-filed-clear-text: #434db8,
  ff-search-field-hover-color: #edecf8,
  ff-search-filed-placeholder-text: #a3a3a3,
  ff-search-filed-close-Icon: #14041c,
  ff-paper-background-color: #f5f5f5,
  ff-paper-dark-background-color: #d1c4e9,
  sub-header-primary: #301349,
  primary-icon-color: #ffffff,
  secondary-icon-color: #434db8,
  disabled-primary-color: #f9f9f9,
  background-modal-color: #1111,
  license_expires_soon_color: #ba7422,
  license_active_color: #268735,
  license_expired_color: #e34242,
  license_header_text_color: #592f7c,
  license_active_status_color: #518e18,
  license_expired_status_color: #ab3425,
  pie-chart-border-color: #b6b6b6,
  variable-dropdown-bg: #ffffff,
  modal-header-text-color: #ffc600,
  switch-license-text-color: #61296a,
  switch-license-header-text-color: #610b86,
  dotted-border-color: #000000,
  select-license-header-text-color: #5f2868,
  in-active-button-color: #808080,
  button-background-gradient-color: #434db8,
  details-page-value-color: #808080,
  table-header-text-color: #3c3838,
  table-column-text-color: #3c3838,
  line-loader-bg-color: #191919,
  // TODO:: Need to change the color code values of below 7 color (N/A in DS)
  ff-machine-input-field-border-color: #f1ebf2,
  ff-machine-input-field-text-color: #1e161f,
  ff-connecting-branch-color: #434db8,
  ff-connecting-branch-modal-header: #434db8,
  ff-connecting-branch-modal-border: #e0e0e0,
  ff-connecting-branch-scope-color: #079455,
  ff-connecting-branch-delete-color: #e42525,
  ff-app-header-menu-border-bottom-color: #ffffff,
  ff-app-header-submenu-border-bottom-color:
    linear-gradient(90deg, #434db8 0%, #434db8 100%),
  ff-delete-button-attachment: #a91224,
  email-table-border-color: #959595,
  label-edit-text-label-color: #434db8,
  label-edit-text-background-color: #ffffff,
  label-edit-error-text: #e42525,
  label-edit-confirm-icon: #0dad66,
  label-edit-cancel-icon: #e42525,
  delete-icon-color: #e42525,
  ff-icon-hover-fill-color: #edecf8,
  ff-icon-color-dark-variant: #ffffff,
  ff-icon-hover-color-dark-variant: #f7ecf8,
  ff-icon-selected-color: #f7ecf8,
  ff-icon-color-danger-variant: #a912241a,
  ff-avatar-background-color: #434db8,
  ff-avatar-icon-color: #ffffff,
  ff-editor-line-bg: #f0e7f4,
  ff-editor-gutter-color: #ded5e5,
  ff-line-number-bg: #592f7c,
  ff-line-number-color: #ffffff,
  ff-editor-border-color: #f0e7f4,
  ff-icon-hover-bg-color: #f7ecf8,
  modal-background-color: #12121233,
  modal-alert-header-color: #db1919,
  ff-status-card-text-color: #ffffff,
  ff-card-status-text-color: #8a8a8a,
  ff-card-passed-status-bg-color: #179c5f,
  ff-card-failed-status-bg-color: #9c1732,
  ff-card-warning-status-bg-color: #e2750f,
  ff-card-skipped-status-bg-color: #a83fc4,
  ff-card-flaky-status-bg-color: #3f5ac4,
  ff-toggle-switch-off-color: #4b494c,
  ff-toggle-switch-shadow-color: #57575780,
  ff-all-projects-default-color: #ffffff33,
  ff-machine-inactive-status-color: #c50303,
  ff-machine-running-status-color: #2055de,
  ff-machine-active-status-color: #4caf50,
  //ExcelSheet
  excel-sheet-button-color: #e9b5ff,
  icon-hover-color: #f7ecf8,
  ff-search-icon-hover-color: #f7ecf8,
  ff-search-filed-bg-color: #ffffff,
  ff-filter-toggle-button-bg-primary:
    linear-gradient(90deg, #434db8 0%, #9c1ebb 100%),
  download-client-border-color: #f0e7f4,
  download-client-header-bg-color: #ede6f2,
  download-client-content-text-color: #592f7c,
  download-client-choose-os-text-color: #000000,
  download-client-icon-container-border-color: #f0e7f4,
  download-client-icon-container-bg-color: #ffffff,
  download-client-icon-container-box-shadow-color: #592f7c4d,
  public-chip-bg-color: #f9d5ff,
  partial-public-chip-bg-color: #fcc27d,
  private-chip-bg-color: #dbc3ef,
  disabled-chip-bg-color: #c4c3c3,
  impact-list-text-color: #14041c,
  impact-list-chip-text-color: #3d3c3e,
  impact-list-chip-bg-color: #e3ccf5,
  vertical-separate-color: '#D4B0E4',

  card-total-defect-color: #71347b,
  card-defect-density: #5dc70c,

  table-with-accordion-header-primary-bg: #d4b0e426,
  table-with-accordion-icon-color: #1e161f,
  plugins-header-bg-color: rgba(89, 47, 124, 0.1),
  follow-user-icon-red: #922b3e,
  follow-user-icon-orange: #ed760e,
  follow-user-icon-black: #0a0a0a,
  follow-user-icon-pink: #e63244,
  follow-user-icon-blue: #3b83bd,
  follow-user-icon-navy: #20214f,
  follow-user-icon-lightGreen: #bdecb6,
  follow-user-icon-gray: #d9d9d9,
  follow-user-icon-yellow: #cda434,
  follow-user-icon-salmon: #d36e70,
  nlp-selected-chip-bg: '#F9D6FF',
  nlp-chips-blur-text-color: '#6D6D6D',
  nlp-chips-select-text-color: '#121212',
  prompt-bg-color: #f8f3fb,
  prompt-shadow-color: #592f7c33,
  ff-prompt-number-bg-color: #edd4ff,
  ff-ai-toggle-bg-color: #b637ca,
  ff-ai-toggle-text-color: #6b83b2,
  ai-search-border-color: linear-gradient(90deg, #ff00ff 0%, #0000ff 100%),
  ai-search-icon-color: #bcbcbc,
  default-chip-count-background-color: #f4e7f4,
  chatbot-icon-hover-color: #f4cbfa,
    fireflink-chatbot-header:
    linear-gradient(
      90deg,
      rgba(249, 138, 227, 0.5) 0%,
      rgba(91, 96, 255, 0.5) 100%
    ),
  fireflink-chatbot-hover-leaf:
    linear-gradient(
      90deg,
      rgba(78, 92, 239, 0.365) 0%,
      rgba(224, 75, 187, 0.5) 100%
    ),
  super-automation-flag-bg : linear-gradient(276.62deg, rgba(78, 92, 239, 0.4) 8.63%, rgba(224, 75, 187, 0.4) 95.47%),
  super-automation-flag-border : linear-gradient(90deg, rgba(78, 92, 239, 0.6) 0%, rgba(224, 75, 187, 0.6) 100%),
  fia-queries-flag-bg: linear-gradient(to right, rgb(253, 244, 255), rgb(247, 238, 253)),
  fia-queries-flag-border : linear-gradient(90deg, rgba(254, 153, 35, 0.6) 0%, rgba(109, 240, 111, 0.6) 100%),
  fia-header-flag-bg : linear-gradient(276.62deg, rgba(254, 153, 35, 0.5) 8.63%, rgba(109, 240, 111, 0.5) 95.47%),
  fia-header-flag-border : linear-gradient(90deg, #FE9923 0%, #6DF06F 100%),  
  chatbot-leaf-text: #4b4b4b,
  state-dropdown-bg-color: #dcd1e5,
  disable-icon-btn-bg-color: #9747ff,

  select-chart-highlight-color: #00000066,
  partially-failures: #ffe207,
  top-failures-bar-color: #52a2f2,
  testcase-bg: #fbfcfd,
  testcase-status-color: #b73e3e,
  ai-prompt-bg: #fbf5ff,
  line-chart-data: #4c90ff,
  step-group-card-background: linear-gradient(to right, #3e11f3, #ff00e1),
  step-group-disclaimer-background: #ff8b0033,
  media-preview-corner-gradient:
    linear-gradient(to left bottom, #5e5e5e 0%, #c4c4c400 45%),
  ai-prompt-input-bg-shadow: #71347b99,
  ai-prompt-input-border: #a98db5,
  selenium-icon-color: #2cb134,
  line-loader-background-overlay: #14041c33,
  ff-nlp-container-box-shadow: 0px 4px 10px 0px rgba(113, 52, 123, 0.2),
  nlp-header-bg-color: #f4edf9,
  ff-content-card-header-color: #333,
  ff-content-card-body-color: #eee,
  ff-content-card-shadow-color: rgba(0, 0, 0, 0.1),
  editor-bg-color: #242425,
  editor-border-color: #0c0213,
  ff-scrollbar-thumb-bg-color: #a3a3a3,
  ff-step-variable-color:#FF9D00,
  ff-step-element-color:#0485E1,
  ff-delete-popup-border-color:
    linear-gradient(
      94.23deg,
      rgba(228, 37, 37, 0.4) 16.33%,
      rgba(201, 0, 0, 0.4) 80.07%
    ),
  ai-prompt-token-border-color: #dddddd,
  ff-delete-icon-color: #a91224,
  ai_prompt_list_divider-border: #967ca8,
  ff-fireflink-ai-text-background:
    linear-gradient(
      270deg,
      rgba(255, 16, 255, 1) 0%,
      rgba(219, 54, 254, 1) 25%,
      rgba(127, 152, 253, 1) 50%,
      rgba(70, 214, 252, 1) 75%,
      rgba(48, 239, 252, 1) 100%
    ),
  ff-orchid-Purple-color: #a169b3,
  ff-execution-timer-color: #5b5b5b,
  ff-windows-Icon-color: #00bcd4,
  ff-electric-indigo: #2c25f3,
  ff-vivid-orange: #ff9900,
  ff-dodger-blue: #0088ff,
  ff-electric-cyan: #03b7c7,
  ff-video-background-play: #14041c4d,
  ff-screenshot-background: rgba(0, 0, 0, 0.6),
  ff-debug-button-shadow:#00000033,
  ff-debug-primary-shadow:#71347b40,
   ff-overlay-background:rgba(0, 0, 0, 0.25),
);

:root {
  @each $key, $value in $blue-theme {
    --#{$key}: #{$value};
  }
}
